/* Common CSS Start */
*{
    margin: 0;
    padding: 0;
    outline: 0;
    /* box-sizing: border-box; */
    font-family: "Poppins", sans-serif;
}

a{
    text-decoration: none;
}

ol, ul, li{
list-style-type: none;


}

h1, h2, h3, h4, h5, h6, p{
    margin: 0;
    padding: 0;
    line-height: 0,8;
}

#headerPart{
    padding: 10px 0px;
    background: #F9F9FC ;

}


/* Common CSS End */

/* Header Start */
.container{
    width: 1320px;
    padding: 30px 30px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-transform: uppercase;
    
}



/* Menu links Start */

.menu ul li{
    display: inline-block;

}

.menu a{
    padding: 45px 25px;
    font-size: 14px;
    color: #000000;
    font-weight: 500;
    line-height: 70px;
    
    
}
/* Menu links End */

/* Button Start */
.button{
    background-color: #5E3BEE;
    font-weight:400; 
    padding: 16px 23px 14px 23px;
    font-size: 14px;
     
    color: #FFFFFF;
    border-radius: 50px;
}

.button i{
    padding-left: 10px;
    text-align: center;
}
/* Button Stop */


/* Header End */

/* Banner Part Start */
#BannerPart{
    background: #F9F9FC;
    
}

.container2{
    width: 1320px;
    justify-content: space-between;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;

}

.textPart{
            /* width: 50%; */
}

.textPart h3{
    padding-top: 127px;
    font-size: 16px;
    font-weight: 500;
    color: #5E3BEE;
    text-transform: uppercase;
    width: 480px;
}

.textPart h1{
    line-height: 78px;
    font-size: 60px;
    font-weight: 700;
    color: #333333;
    width: 480px;
    
}

.buttonBanner{
    display: flex;
}


.imagePart{
    padding-top: 16px;
    /* width: 100%; */
}


/* Banner Part End */