/* common CSS Start */
/* common CSS Emd */
*{
    padding: 0;
    margin: 0;
    outline: 0;
    box-sizing: 0;
}
a{
    text-decoration: none;
}

ul,li{
    list-style-type: none;
}


.container{
    width: 1210px;
    margin: 0 auto;
}

#headerPart{
        background:teal;
        padding: 10px;
}

